*{
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

:root{
    --cor1: rgb(1, 55, 121);
    --cor2: rgb(255, 186, 8);
    --cor3: rgb(120, 41, 15);
    --cor4: rgb(23, 195, 178);
    --cor5: rgb(252, 247, 255);
    --sombra: rgb(117, 113, 113);
}

header{
    background-color: var(--cor1);
    text-shadow: 2px 2px 2px rgb(117, 113, 113);
}

header nav{
    text-align: right;
    padding: 1em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 1em;
}

a:hover{
        color: var(--cor2);
        transition-duration: 0.7s;
}

main{
    background-color: var(--cor5);
    box-shadow: 2px 2px 2px var(--sombra);
    max-width: 1280px;
    border-radius: 10px;
}

section h1{
    color: white;
    background-color: rgb(24, 23, 23);
    padding: 0.6em;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section ul{
    font-size: 1.7em;
    list-style: inside;
    padding-top: 1em;
    padding-bottom: 1em;

}