:root{
    --cor1: rgb(1, 55, 121);
    --cor2: rgb(255, 186, 8);
    --cor3: rgb(120, 41, 15);
    --cor4: rgb(23, 195, 178);
    --cor5: rgb(252, 247, 255);
}

header{
    background-color: var(--cor1);
    padding: 0.5em;
}

header h1{
    color: white;
    text-align: center;
    font-size: 3em;
}

header nav{
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 1em;
}

a:hover{
    color: brown;
}

a:visited{
    color: white;
}