body{
  background: linear-gradient(to right, rgb(29, 66, 136) 60%, black)  
}

div{
    padding-top: 1px;
    padding-bottom: 3em;
    max-width: 500px;
    margin: auto;
    margin-top: 9em;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(207, 206, 206);
}

label h1{
    color: rgb(9, 83, 179);
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin:0.5em;
    text-shadow: 1px 1px 2px rgb(180, 178, 178);
}

input{
    font-size: 1.9em;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 5px blue;
    margin-left: 1.5em;
    padding-left: 15px;
}

input:focus{
        box-shadow: 0px 0px 15px rgb(207, 110, 18);
        margin-left: 1.55em;
        transition-duration: 0.5s;
    }

div button{
    background-color:rgb(29, 66, 136);
    color: white;
    font-size: 1em;
    padding: 15px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.9em;
    margin-left: 6.2em;
    border-radius: 30px;
    text-shadow: 1px 1px 1px rgb(124, 123, 123);
    border: none;
    cursor: pointer;
}

div button:hover{
    background-color:orange;
    color: white;
    transition-duration: 0.5s;
    border: none;
}

div button:active{
    background-color:  rgba(48, 33, 10, 0.842);
    color: white;
}

a{
    color: rgb(29, 66, 136);
    margin-left: 2em;
    font-size: 1.5em;
    text-decoration: none;
}

a:hover{
    color: rgb(187, 115, 7);
    transition-duration: 0.5s;
    text-decoration: underline;
}